<template>

<div>
    <!-- START JUMBOTRON -->
    <div class="panel panel-default">
        <div class="panel-heading">Record</div>
        <div class="panel-body">
        <table class='view-table' v-if='dataObj'>
          <tr  v-for='(obj, i) in dataObj'
          v-if='typeof obj !== "object" && hiddenFields.contains(i) === false'
          >
            <td>
              <b v-if='!labelMappingDisplay[i]'>{{i}}</b>
              <b v-if='labelMappingDisplay[i]'>{{labelMappingDisplay[i]}}</b>
            </td>
            <td>
              <span v-if='!dataMappingDisplay[i]'>{{obj}}</span>
              <span v-if='dataMappingDisplay[i]'>{{dataMappingDisplay[i].callback(obj)}}</span>
            </td>
          </tr>
          <tr v-for='(obj, i) in relationshipMappingDisplay' v-if='obj.relType === "belongsTo"'>
              <td><b>{{obj.displayLabel}}</b></td>
              <td ><router-link :to='{ name : obj.routeName, 
      params : {id : dataObj[obj.mapToObj].id, resource: obj.mapToRoute }}'>
              {{dataObj[obj.mapToObj][obj.displayField]}}
              </router-link></td>
          </tr>
          <tr v-for='(obj, i) in fileMappings' >
              <td><b>{{i}}</b></td>
              <td >
                  <div style="width: 80px;">
                      <img v-if='dataObj[i] !== null' style="width: 100%;" :src='"/preview/file/"+dataObj[i].id'  />
                  </div>
              </td>
          </tr>
        </table>
    </div>
</div>

  <div v-for='(relObj, i ) in relationshipMappingDisplay' 
v-if='relObj.relType === "hasMany"' style='margin-top: 20px;'> 
      
    <div class='panel panel-default'>
        <div class="panel-heading"><b>{{relObj.title}}</b> 
            <div class='pull-right btn btn-success' @click='addForm(i)'>Add</div></div>
        <div class="panel-body">
     
      <table class='table  table-striped'>
        <thead>
          <tr>
            <th v-for='lbl in relObj.displayLabels'>{{lbl}}</th>
            <th style='width: 150px;'>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for='(dataRow, dataRowIndex) in dataObj[relObj.mapToObj]'>
            <td v-for='field in relObj.displayFields'>
              <span v-if='!relObj.dataMappingDisplay[field]'>{{dataRow[field]}}</span>
              <span v-if='relObj.dataMappingDisplay[field]'>{{relObj.dataMappingDisplay[field].callback(dataRow[field])}}</span>
            </td>
            <td>
              <router-link class='btn btn-success btn-xs'
     :to='{ name : relObj.routeName,
 params: {id : dataRow.id , resource: relObj.mapToObj}}'>
                View
              </router-link>
              <div class='btn btn-danger btn-xs' @click='removeSubItem(relObj.routeName, dataRow.id)'>Delete</div>
            </td>
          </tr>
        </tbody>
      </table>

      </div>
      </div>
  </div>
    

<ed-dialog v-if="showModal" @close="showModal = false">

             <h3 slot="header">Add New</h3>
             <div slot='body'>
                 <form-gen :form="form" :form-configurations="formConfigurations"></form-gen>
             </div>
             <div slot='footer'>
                 <button class='btn btn-success' @click='saveForm()'>Save</button>
                 <button class="btn btn-info" @click="showModal = false">
                     Close
                 </button>
             </div>
         </ed-dialog>
</div>

</template>
<script>
  import baseModel from  './../../../infrastructure/base-model.js'
  export default {
    extends : baseModel,
    props : [
    'resourceObj', 'dataObj', 'refreshData',
    'labelMappingDisplay', 'dataMappingDisplay',
     'relationshipMappingDisplay', 'hiddenFields', 'fileMappings'],
     created()
     {

        this.refValue = this.refreshData;
        
    
       
     },
     mounted()
     {
     
     },
     watch: {
        
     },
    data(){
      return {
            refValue : 0,
            showModal : false,
            formConfigurations :{},
            form : {},
            resourceName : '',
            relationShipObjectsChecked: false,
            
      };
    },
    methods : {
        addForm : function(index)
        {
        if(this.relationShipObjectsChecked === false){
            for(var i=0; i < this.relationshipMappingDisplay.length; i++)
            {
                var fieldName = this.relationshipMappingDisplay[i].formConfigRelatedField;
                var formConfigurations = this.relationshipMappingDisplay[i].formConfig;

                for(var j=0; j < formConfigurations.length; j++)
                {
                    if(formConfigurations[j].formModel === fieldName)
                    {
                        this.relationshipMappingDisplay[i].formConfig.splice(j, 1);
                        break;
                    }
                }
            }
            this.relationShipObjectsChecked = true;
        }
            var fieldName = this.relationshipMappingDisplay[index].formConfigRelatedField;
            this.form = {
            };
            this.form[fieldName] = this.dataObj.id
            this.showModal = true;
            this.resourceName = this.relationshipMappingDisplay[index].resourceName;
            this.formConfigurations = this.relationshipMappingDisplay[index].formConfig;
            
        },
        removeSubItem  : function(rel, id)
        {
            var self =this;
            
            this.customRequest('DELETE', '/api/'+rel+"/"+id , null);
        },
        saveForm : function()
        {
          console.log(this.form);
          var self = this;
            this.store(this.form).then(function(response){
                 self.showModal = false;
            });
        }
    }
  }
</script>
<style scoped>

.view-table{
  width : 400px;
}

.view-table tr td{
  padding : 10px;
  border: 1px solid #d2d2d2;
}

</style>
