    <template src='./tpl-pt-list.html' >
</template>

<script>
import baseCtrl from  './../../infrastructure/base-controller.js'
import formConfig from './default-controller-configs/form.config.js';

    export default  {
        extends  : baseCtrl,

        mounted() {
            this.initView(this.$route);
        },
        data(){
            return {
                pages : ['Entries' , 'List'],
                listFields : [],
                resourceRouteName : '',
                viewRouteResourceName : 'default-view',
                filterConfigs : []
            };
        },
    beforeRouteUpdate (to, from, next) {
        this.initView(to);
        next();
    },
        methods : {
            initView : function(routeVar)
            {
                this.resourceRouteName = routeVar.params.resource;
                this.pages =  [ this.resourceRouteName , 'List'];
                if(typeof formConfig[this.resourceRouteName].viewRouteResourceName !== 'undefined')
                {
                    this.viewRouteResourceName = formConfig[this.resourceRouteName].viewRouteResourceName;
                }

                if(typeof formConfig[this.resourceRouteName].route !== 'undefined')
                {
                    this.resourceName = formConfig[this.resourceRouteName].route;
                }else{
                    this.resourceName = routeVar.params.resource;
                }
                console.log(formConfig[this.resourceRouteName]);
                this.listFields = formConfig[this.resourceRouteName].view.listFields;
                this.formConfigurations = formConfig[this.resourceRouteName].form;
                this.relationshipObjs = formConfig[this.resourceRouteName].relationshipObjs;
                console.log(formConfig);
                if(typeof formConfig[this.resourceRouteName].filerConfigs !== 'undefined')
                {
                    this.filterConfigs = formConfig[this.resourceRouteName].filerConfigs;
                }else{
                    this.filterConfigs = [];
                }

                this.paginate = true;
                this.loadItems();
            }
        }
        };
</script>
<style scoped>
body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
  color: #444;
}

</style>
