<template src='./../../infrastructure/view.tpl.default.html'>
</template>

<script>
  import mymix from './../../infrastructure/base-controller.js'
  import formConfig from './default-controller-configs/form.config.js';

  export default {
    extends  : mymix,
    mounted(){
      this.initView(this.$route);
    },

    beforeRouteUpdate (to, from, next) {
      this.initView(to);

      next();
    },
    watch: {

    },
    data(){
      return {
resourceRouteName : '',
        dataObj : {},
        listRoute : 'program-types',
        resourceObj : {
          id : null,
          url : null
        },
        fileMappings : {},
        relationshipObjs : [],
        labelMappingDisplay : {},
        dataMappingDisplay : {},
        relationshipMappingDisplay :  [],
        hiddenFields : [],
        pages : []
      };
    },
    methods : {
        initView : function(routeVar)
            {
                this.resourceRouteName = routeVar.params.resource;
                if(typeof formConfig[this.resourceRouteName].route !== 'undefined')
                {
                    this.resourceName = formConfig[this.resourceRouteName].route;
                }else{
                    this.resourceName = routeVar.params.resource;
                }
                

                this.formConfigurations = formConfig[this.resourceRouteName].form;
                this.resourceObj = {
                  id : routeVar.params.id,
                  url : this.resourceName
                };
                this.get(this.resourceObj.id);

                console.log(formConfig[this.resourceRouteName]);
                this.fileMappings = formConfig[this.resourceRouteName].view.fileMappings;
                this.relationshipObjs = formConfig[this.resourceRouteName].relationshipObjs;
                this.labelMappingDisplay = formConfig[this.resourceRouteName].view.labelMappingDisplay;
                this.dataMappingDisplay = formConfig[this.resourceRouteName].view.dataMappingDisplay;
                this.relationshipMappingDisplay =  formConfig[this.resourceRouteName].view.relationshipMappingDisplay;
                this.hiddenFields = formConfig[this.resourceRouteName].view.hiddenFields;
                this.pages = [this.resourceRouteName, this.resourceObj.id];
            }
    }
  }
</script>

<style scoped>
</style>
