<div>
    <!-- START JUMBOTRON -->
    <ed-breadcrumb :pages='pages'></ed-breadcrumb>
    <!-- END JUMBOTRON -->
    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg">
        <!-- BEGIN PlACE PAGE CONTENT HERE -->

        <div class='row'>
            
            <div class='col-md-12'>
                <div class="panel panel-transparent">
                  <div class="panel-heading separator">
                      <div class='panel-title'>{{resourceRouteName.split('-').join(' ')}}</div>
                      <div class='btn btn-sm btn-success pull-right' @click='showAddForm()'>Add New</div>
                      <div class='clearfix'></div>
                  </div>
                    
                  <div class="panel-body" style='background-color: white;'>
                       <div style='margin-top: 20px;'>
                           
                           <div class="row" v-if="filterConfigs.length > 0">
                               <div class="col-sm-3">
                                   <select class="form-control" v-model="filterObj.type">
                                       <option v-for="con in filterConfigs" 
                                               :value="con.name">{{con.title}}</option>
                                   </select>
                               </div>
                               <div class="col-sm-3">
                                   <input type="text" 
                                           v-model="filterObj.value"
                                          class="form-control" />
                               </div>
                               <div class="col-sm-3">
                                   <div class="btn-group btn-group">
                                       <div class="btn btn-info" @click="filterAll()">
                                           <span class="glyphicon glyphicon-search"></span>
                                       </div>
                                       <div class="btn btn-default" @click="clearAndFilter()">
                                           <span class="glyphicon glyphicon-remove"></span>
                                       </div>
                                   </div>
                               </div>
                           </div>
                    </div>
                      
                    <div class="table-responsive">
                        
                <table class="table table-hover table-condensed" >
                    <thead>
                        <tr>
                            <th v-for='field in listFields'>
                                {{field.colDisplayName}}
                            </th>

                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  v-for="(item, index) in items">
                            <td v-for='field in listFields'>
                                <span v-if='typeof field.colNameFunc !== "undefined" '> 
                                    {{field.colNameFunc(item[field.colName])}}
                                </span>
                                <span  v-if='typeof field.colNameFunc === "undefined" '> 
                                    {{item[field.colName]}} 
                                </span>
                            </td>

                            <td>
                                <div class="btn-group btn-group-xs">

                                    <router-link  class='btn btn-default' 
                                                  :to="{ name: viewRouteResourceName, 
                                                  params: { 
                                                  resource: resourceRouteName,
                                                  id: item.id }}">View</router-link>
                                    <div class='btn btn-success' @click="showEditForm(index)">Edit</div>
                                    <div class='btn btn-danger' @click='deleteRecord(index)'>Remove</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
                       <ed-pagination class='pull-right'
                                      :pagination="pagination" 
         :callback="loadData" 
         :options="paginationOptions"></ed-pagination>
                      <div class="text-center padding-5" v-if="isLoading === true">
                            <img class="image-responsive-height demo-mw-50" 
                                 src="assets/img/demo/progress.svg" alt="Progress">
                        </div>
            </div>
            </div>
            </div>


            <ed-dialog v-if="showModal" @close="showModal = false">

                <h3 slot="header" style='text-transform: capitalize; '>{{resourceName.replace('-',' ')}}</h3>
                <div slot='body'>
                    <form-gen :form="form" 
                        :form-configurations="formConfigurations"
                        :errors="errorResponse"
                        ></form-gen>
                </div>
                <div slot='footer'>
                    <button class='btn btn-success' @click='saveForm()'>Save</button>
                    <button class="btn btn-info" @click="showModal = false">
                        Close
                    </button>
                </div>
            </ed-dialog>
        </div>
    </div>
</div>
