<template>
   <div class="jumbotron" data-pages="parallax">
        <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
            <div class="inner">
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li v-for='page in pages'>
                        <span>{{page}}</span>
                    </li>
                    <li class='hide'>
                        <a href="#" class="active">Blank template</a>
                    </li>
                </ul>
                <!-- END BREADCRUMB -->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props : ['pages', 'active']
    }
</script>

<style scoped>


</style>
