<div>

  <div class="row"
  v-for='(config, configIndex) in formConfigurations'
   style='margin-top: 10px;'>
    <div class='col-sm-4'>{{config.label}}</div>
    <div class='col-sm-8' v-if='config.type === "input:dhivehi"'>
        <dhivehi-box v-model='form[config.formModel]'
                     class='form-control'></dhivehi-box>
    </div>
    <div class='col-sm-8' v-if='config.type === "input:text"'>
        <input type='text' class='form-control' v-model="form[config.formModel]" />
        
    </div>
    <div class='col-sm-8' v-if='config.type === "input:number"'>
        <input type='number' class='form-control' v-model="form[config.formModel]" />
    </div>
    <div class='col-sm-8' v-if='config.type === "input:date"'>
        <input type='date' class='form-control' v-model="form[config.formModel]" />
    </div>
    <div class='col-sm-8' v-if='config.type === "input:datetime"'>
        <input type='time' class='form-control' v-model="form[config.formModel]" />
    </div>
    <div class='col-sm-8' v-if='config.type === "input:password"'>
        <input type='password' class='form-control' v-model="form[config.formModel]" />
    </div>
    <div class='col-sm-8' v-if='config.type === "select"'>
        <select  class='form-control' v-model="form[config.formModel]"
        v-if="config.dataType === 'array'"
        >
          <option v-for='option in config.dataArray'
          :value="option[config.selectOptions.option]"
          >{{option[config.selectOptions.value]}}</option>
        </select>

        <select  class='form-control' v-model="form[config.formModel]"
        v-if="config.dataType === 'api'"
        >
          <option v-for='option in config.dataArray'
          :value="option[config.selectOptions.option]"
          >{{option[config.selectOptions.value]}}</option>
        </select>
    </div>
    <div class='col-sm-8' v-if='config.type === "select2"'>
      <select2  class='form-control'   v-model="form[config.formModel]"
      v-if="config.dataType === 'array'"
      >
      <option >-</option>
        <option v-for='option in config.dataArray'
        :value="option[config.selectOptions.option]"
        >{{option[config.selectOptions.value]}}</option>
      </select2>

      <select2  class='form-control'   v-model="form[config.formModel]"
      v-if="config.dataType === 'api'"
      >
      <option >-</option>
        <option v-for='option in config.dataArray'
        :value="option[config.selectOptions.option]"
        >
        <span v-if='typeof config.selectOptions.value === "string"'>
            {{option[config.selectOptions.value]}}
        </span>
        <span v-if='typeof config.selectOptions.value !== "string"'>
            <span v-for="valTemp in config.selectOptions.value">
                {{option[valTemp]}}
            </span>
        </span>
      </option>
      </select2>
    </div>

    <div class='col-sm-8' v-if='config.type === "file"'>
      <p v-if='files[config.formModel]'>
        <b>File Uploaded : </b><br>
        {{files[config.formModel].id}} - {{files[config.formModel].file_name}}</p>
      <dropzone :id='config.formModel'
      :max-number-of-files='1'
      :preview-template="template"
      url="/upload/file" v-on:vdropzone-success="showSuccess">
        <!-- Optional parameters if any! -->
        <input name='config-queue' type='hidden' v-model='configIndex' />
      </dropzone>
    </div>
    <div class='col-sm-8 col-sm-offset-4' 
         v-if="errors !== null">
        <span v-if="errors.data[config.formModel]" class="error">{{errors.data[config.formModel][0]}}</span>
    </div>
  </div>
    

</div>
