<template src='./form-gen.html'></template>
<script>
import mymix from  './../../../infrastructure/base-model.js'
import Dropzone from 'vue2-dropzone'

  export default {
        extends  : mymix,
        components: {
      Dropzone
    },
      props : ['formConfigurations', 'form', 'errors'],
      mounted : function(){
        var self = this;
        this.formConfigurations.forEach(function(configObj , key){
            if(configObj.dataType === 'api')
            {
                var route = configObj.dataApi;
                var configData = configObj;
                var configKey = key;
                self.formConfigurations[configKey].dataArray = [];
                self.customRequest('GET', route, null)
                .then(function(response){
                    self.formConfigurations[configKey].dataArray = response.data.data;
                    console.log(self.formConfigurations[configKey]);
                });
            }
        });
      },
      data : function()
      {
        return {
          files : {}
        };
      },
      methods : {
          showSuccess : function(file, response)
          {
              var self = this;
              self.form[this.formConfigurations[response.data.configKey].formModel]  =  response.data.file;

              var obj = {};
              obj[this.formConfigurations[response.data.configKey].formModel]  =  response.data.file;
              self.files = this.copy(obj);
          },
          'template':function() {
            return `
                    <div class="dz-preview dz-file-preview">
                        <div class="dz-image" style="width: 150px;height: 150px">
                            <img data-dz-thumbnail /></div>
                        <div class="dz-details">
                          <div class="dz-size"><span data-dz-size></span></div>
                          <div class="dz-filename"><span data-dz-name></span></div>
                        </div>
                        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                        <div class="dz-error-message"><span data-dz-errormessage></span></div>
                        <div class="dz-success-mark"><i class="fa fa-check"></i></div>
                        <div class="dz-error-mark"><i class="fa fa-close"></i></div>
                    </div>
                `;
        }
      },
      watch : {

      }
  }
</script>
<style>

</style>
