<div>
    <ed-breadcrumb :pages='pages'></ed-breadcrumb>
    <div class="container-fluid container-fixed-lg">
    <div style='margin-bottom: 10px;'>
      <div class='btn-group '>
        <router-link  class='btn btn-default' 
                      :to="{ name:'default-list', params : {resource: resourceRouteName}}" >Go to List</router-link>
        <div class='btn btn-success' @click='showEditFormByObject(selectedItem)'>Edit</div>
      </div>
    </div>
      <view-gen
      :data-obj="selectedItem"
      :resource-obj='resourceObj' :label-mapping-display="labelMappingDisplay"
      :data-mapping-display="dataMappingDisplay" :relationship-mapping-display="relationshipMappingDisplay"
      :hidden-fields="hiddenFields" :file-mappings='fileMappings'
       ></view-gen>


       <ed-dialog v-if="showModal" @close="showModal = false">

             <h3 slot="header">Edit Record</h3>
             <div slot='body'>
                 <form-gen :form="form" :form-configurations="formConfigurations"></form-gen>
             </div>
             <div slot='footer'>
                 <button class='btn btn-success' @click='saveForm()'>Save</button>
                 <button class="btn btn-info" @click="showModal = false">
                     Close
                 </button>
             </div>
         </ed-dialog>
    </div>
    </div>
